LOCATE COMP "sys_clk" SITE "35";
LOCATE COMP "led" SITE "15";
LOCATE COMP "sys_rst_n" SITE "49";
IOBUF PORT "sys_clk" IO_TYPE=LVCMOS33;
IOBUF PORT "led" IO_TYPE=LVCMOS33;
IOBUF PORT "sys_rst_n" IO_TYPE=LVCMOS33;
